<h1>{{post.title}}</h1>
<h6>{{post.user.username}} ~ {{format_date post.createdAt}}</h6>
<br>
<p>{{post.content}}</p>
<br>


{{#if logged_in}}
<form class="comment-form">
 <input type="hidden" id="post_id" value="{{post.id}}">
  <div class="form-floating">
    <textarea class="form-control " placeholder="Leave a comment here" id="comment"
      style="height: 100px"></textarea>

    <br>
    <button class="btn btn-primary">Post</button>
  </div>
</form>

{{else}}
<a href="/login">Login to comment.</a>
{{/if}}

<br>
{{#each post.comments as |comment|}}
{{>comment}}
{{/each}}

<script src="/js/comment.js"></script>
