<h1>{{post.title}}</h1>
<h6>{{post.user.username}} ~ {{format_date post.createdAt}}</h6>
<br>
<p>{{post.content}}</p>
<br>


{{#if logged_in}}
<form id="comment-form">
  <input type="hidden" id="post_id" value="{{post.id}}">
  <div class="form-floating"
    <textarea type="text" id="comment" placeholder="Comment"></textarea>
  </div>
  <button class="btn btn-primary">Post</button>
</form>
{{else}}
<a href="/login">Log in to comment.</a>
{{/if}}

<br>
{{#each post.comments as |comment|}}
    {{>comment}}
{{/each}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}